.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
}

.app h1 {
  font-family: cursive;
  animation: headerAnimation 2s linear infinite;
  padding: 12px;
  border-radius: 6px;
  color: #ffffff;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@keyframes headerAnimation {
  0% {
    box-shadow: 3px 5px 8px #72f1ff, -2px 5px 8px #ff3f3f;
  }
  25% {
    box-shadow: 3px 5px 8px #4044ad, -2px 5px 8px #53c9ab;
  }
  50% {
    box-shadow: 3px 5px 8px #63ce4a, -2px 5px 8px #f04fe8;
  }
  75% {
    box-shadow: 3px 5px 8px #59d7e4, -2px 5px 8px #ffffff;
  }
  100% {
    box-shadow: 3px 5px 8px #00fffb, -2px 5px 8px #ff44cd;
  }
}

.form {
  margin-top: 25px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.input {
  padding: 6px 10px;
  width: 60%;
  font-size: 16px;
  font-family: cursive;
  outline: none;
  animation: inputAnimation 2s linear infinite;
  border-radius: 4px;
}

@keyframes inputAnimation {
  0% {
    border: 3px solid rgb(255, 0, 0);
  }
  25% {
    border: 3px solid rgb(55, 255, 0);
  }
  50% {
    border: 3px solid rgb(0, 255, 255);
  }
  75% {
    border: 3px solid rgb(0, 51, 255);
  }
  100% {
    border: 3px solid rgb(255, 0, 34);
  }
}

.submit {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  background: linear-gradient(145deg, #ffded3, #d20062);
  transition: 0.5s;
}

.submit:hover {
  box-shadow: 4px 4px 8px #d33100, -4px -4px 8px #ffffff;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
  justify-content: space-evenly;
  margin-top: 20px;
}

.movie {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 300px;
  box-shadow: 0 3px 10px 0 rgb(77, 243, 110);
}

.movie__img {
  object-fit: cover;
  height: 200px;
}

.movie__name {
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 14px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
}

.details {
  text-align: center;
  padding: 10px 16px;
  font-size: 17px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  color: rgb(39, 39, 39);
  cursor: pointer;
  background: linear-gradient(145deg, #d4e300, #68f595);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #111049;
  transition: 0.3s;
}

.details:hover {
  box-shadow: 4px 4px 8px #fa580c, -4px -4px 8px #3e0909;
}

/*------------popup--------*/

.popup {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_h1 {
  padding: 8px 0;
  margin-bottom: 20px;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  background-color: rgb(10, 25, 42);
  padding: 15px 30px;
  z-index: 9999;
  box-shadow: 4px 4px 8px #cbcbcb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-text {
  position: relative;
  width: 100%;
  height: 100%;
  color: #d4e300;
}

.popupmovie__img {
  height: 250px;
  width: 200px;
}

.modal-text p {
  font-size: 18px;
  margin: 18px;
}

.close-modal {
  position: absolute;
  top: 0px;
  right: -20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 20px;
  color: #ff014f;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .close-modal {
    width: 30px;
    height: 30px;
  }

  .modal-text {
    font-size: 14px;
  }
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container span {
  display: block;
  text-transform: uppercase;
}

.text1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative; /*relative krne se yha pr content upper aa jata h*/
  background-color: rgb(10, 25, 42);
  animation: text1 5s infinite;
}

.text2 {
  color: rgb(0, 238, 255);
  font-size: 20px;
  animation: text2 5s infinite;
}

@keyframes text1 {
  0% {
    color: rgb(0, 238, 255);
    margin-bottom: -40px;
  }

  30% {
    color: rgb(0, 255, 115);
    letter-spacing: 10px;
    margin-bottom: 40px;
  }

  50% {
    color: rgb(217, 120, 247);
    letter-spacing: 8px;
    margin-bottom: -130px;
  }

  95% {
    color: rgb(255, 94, 0);
    margin-bottom: -40px;
  }
}

@keyframes text2 {
  0% {
    color: rgb(0, 238, 255);
  }

  30% {
    color: rgb(255, 94, 0);
  }

  85% {
    color: rgb(0, 255, 115);
  }
}
